{% for table in data.replaceVariables.finalResultObject %}
    <div class="d-flex">
        <!-- Detected Section -->
        <div class="table-container">
            <table class="table">
                <thead>
                    <h3 class="tableName">{{ table.tableName }}-detected</h3>
                </thead>
                <tbody>
                    {% set detected = false %}
                    {% for row in table.rows %}
                        {% if row.qualitativeResultValue == "DETECTED" %}
                            <p style="font-size: 14px; font-weight: 400;">*{{ row.biomarkerName }}</p>
                            {% set detected = true %}
                        {% endif %}
                    {% endfor %}
                    {% if detected == true%}
                        <p style="font-size: 14px; font-weight: 400;">No detection</p>
                    {% endif %}
                </tbody>
            </table>
        </div>

        <!-- Not Detected Section -->
        <div class="table-container">
            <table class="table">
                <thead>
                    <h3 class="tableName">{{ table.tableName }}-NOTdetected</h3>
                </thead>
                <tbody>
                    {% set not_detected = false %}
                    {% for row in table.rows %}
                        {% if row.qualitativeResultValue == "NOT DETECTED" %}
                            <p style="font-size: 14px; font-weight: 400;">*{{ row.biomarkerName }}</p>
                            {% set not_detected = true %}
                        {% endif %}
                    {% endfor %}
                    {% if not not_detected %}
                        <p style="font-size: 14px; font-weight: 400;">No detection</p>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{% endfor %}
